[2019-11-28 22:49] ikunduraci opened #19 "mangleWEB unable to start"
Fresh OVA deployment.. have to login to the appliance to request DHCP address, otherwise no IP on first boot. mangleDB container seems to run fine however mangleWEB fails with the following error..

vcenter 6.7 build 11727113
vsphere 6.7 build 10302608
virtual-wire used for vnic

**root@photon-machine [ ~ ]# docker logs mangleWEB | more | grep ERROR**

Warning:
The JKS keystore uses a proprietary

[2019-11-29 03:37] ashrimalivmware commented on #19
Hi @ikunduraci,

The mangleWEB is showing those errors because machine didn't get DHCP IP at boot time and while starting the WEB container, IP must be assigned to the machine. Please run following commands on your machine, it should resolve the issue:
1: docker stop mangleWEB
2: docker rm -f mangleWEB
3: docker run --name mangle -d -e DB_OPTIONS="-DcassandraContactPoints=<IP of the docker host wh

[2019-11-29 05:38] ikunduraci commented on #19
Hi @ashrimalivmware,

I'm not sure why it doesn't pickup an IP from DHCP.. the DHCP is servicing other machines fine, in fact, after booting and logging in, i'm able to run vami_config_net and it picks up an IP fine..

I've also run the commands you've suggested with the following result -

root@PDCMANGLE [ ~ ]# docker run --name mangle -d -e DB_OPTIONS="-DcassandraContactPoints= -DcassandraSslEna

[2019-11-29 05:47] ashrimalivmware commented on #19
Hi @ikunduraci
please re-run the commands:

1: docker stop mangleWEB
2: docker rm -f mangleWEB
3: docker run --name mangleWEB -d -e DB_OPTIONS="-DcassandraContactPoints=<IP of the docker host where Cassandra is deployed> -DcassandraSslEnabled=true -DcassandraUsername=cassandra -DcassandraPassword=cassandra" -e CLUSTER_OPTIONS="-DclusterValidationToken=mangle -DpublicAddress=<IP or Hostname>" -p 80

[2019-11-29 06:01] ikunduraci commented on #19
Hi Avinash,

I've tried, see below error -

root@photon-machine [ ~ ]# docker logs mangleWEB | grep ERROR

Warning:
The JKS keystore uses a proprietary format. It is recommended to migrate to PKCS12 which is an industry standard format using "keytool -importkeystore -srckeystore /home/mangle/var/opt/vmware/mangle/cert/server.jks -destkeystore /home/mangle/var/opt/vmware/mangle/cert/server.jks -des

[2019-11-29 06:20] ashrimalivmware commented on #19
@ikunduraci

The missing part was IP address, what you need to do is in the following command please provide the dhcp ip address wherever the text IP-Address is shown in it:

docker run --name mangleWEB -d -e DB_OPTIONS="-DcassandraContactPoints=IP-Address
-DcassandraSslEnabled=true -DcassandraUsername=cassandra -DcassandraPassword=cassandra" -e CLUSTER_OPTIONS="-DclusterValidationToken=mangle -Dp

[2019-12-03 05:53] ashrimalivmware commented on #19
Hi @ikunduraci
Please update if the issue is not yet resolved, else we will close the issue.
Thanks,
-Avinash

[2019-12-07 12:07] ikunduraci commented on #19
Hi @ashrimalivmware,

I was able to deploy the OVF using vCenter in which case, it picked up an IP address fine and all services started as expected.

Thanks for your help!

[2019-12-07 12:07] #19 closed

[2019-12-07 12:19] ashrimalivmware commented on #19
Great!

Thanks,
Avinash

On Dec 7, 2019 5:37 PM, Ibrahim Kunduraci <notifications@github.com> wrote:

Hi @ashrimalivmware<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fashrimalivmware&data=02%7C01%7Cashrimali%40vmware.com%7C7bfc5d31fcb74fa7bd4708d77b0e14ab%7Cb39138ca3cee4b4aa4d6cd83d9dd62f0%7C0%7C0%7C637113172778760026&sdata=EKemeMWTug58DOgX1KLA3B5Ld7WIDM%2Bgcmeuj3

[2020-01-14 20:59] robglas opened #22 "Bad credentials after forced password change"
**Describe the bug**
After the forced initial password change, Mangle doesn't accept either the old or the new password.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Mangle 2.0
2. Load /mangle-services
3. Change the password from 'admin' to something else.
4. Attempt to login with the new password
5. UI returns "Invalid username or password"

**Expected behavior**
Login succeeds.

[2020-01-15 22:32] robglas commented on #22
Full snippet of a fresh auth attempt 24 hours later:
[code]

Not quite sure where to start looking for this. Any tips?

[2020-01-16 04:41] chethanvmware commented on #22
The forced password change that one has to do during the first deployment seems to have been broken.

As a workaround,
Can you please try using the default initial password?

Once logged in, you can change the default password from the home page.

[2020-01-16 05:24] robglas commented on #22
Since I was forced to change the default password, the default password no longer works and I'm unable to login.

[2020-01-16 06:51] robglas commented on #22
Perfect, that did the trick. Thank you!

[2020-01-17 19:59] rglastra opened #23 "No permission to Teams chat"
**Describe the bug**
The team chat referenced in `CONTRIBUTING.md` is not available to the public (no permission to the org).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `CONTRIBUTING.md`
2. Click on '[team chat](https://teams.microsoft.com/l/team/19%3aa0fe7cfcd9bc451b8a5b1fc60302cc8e%40thread.skype/conversations?groupId=34804802-7ffb-4f9a-8e7a-95b9c7ce305a&tenantId=b39138ca-3cee-4

[2020-01-17 21:56] robglas opened #24 "API auth type?"
**Describe the bug**
Looking to use the APIs. Found the Swagger spec, but unclear what auth type is used.

Tried using basic auth, but that doesn't appear to be it. Not finding any OAuth-related APIs either, so unable to retrieve a token (or create one via the UI).

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Load any API, i.e. https://host/mangle-services/rest/api/v1/metric-provid

[2020-01-20 06:22] chethanvmware commented on #24
The auth type is basic auth.

You need to use username as <username>@<domain-name>(mangle.local: if you are using local users). I guess that could be the issue because of which you are running into this.

[2020-01-21 06:39] vhkilari commented on #24
Hi @robglas,
                       Can you close the issue, if you find the reply from @chethanvmware has resolved your issue?
Thanks,
    -Hemanth K

[2020-01-21 10:09] aswathy-ramabhadran commented on #23
@robglas You should have access now. However, we are planning to switch to Slack. So please use the invite link below to join the Mangle workspace: https://join.slack.com/t/vmwmangle/shared_invite/enQtOTE0OTAwOTkwNDY0LWNmMTA2ZGY2ODdkNTQ2MzZkNTE2NTcyY2NiOTQ1NjAzZGQ4NjM3OGE3ODMxN2UyZWIxMDAzNmZkZDNmZmNhMGQ

[2020-01-22 07:55] robglas commented on #24
Will do. I tried Basic Auth before I submitted this and that didn't work, but I was using Postman.
I'll give it another shot tomorrow.

[2020-03-26 09:21] #22 closed

[2020-03-26 09:22] #24 closed

[2020-03-26 09:23] ashrimalivmware commented on #23
As the issue is fixed, closing it.

[2020-04-21 05:59] amalts opened #31 "Build fails due to dependencies from VMware Eng repo"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
module : om.vmware.mangle:mangle-models
mvn install

**Logs**
`Could not transfer artifact com.fasterxml.jackson.datatype:jackson-datatype-joda:pom:2.11 from/to build-artifactory.eng.vmware.com (https://build-artifactory.eng.vmware.com/artifactory/fiaasco-release): build-artifactory.eng.vmware.com: nodename nor servname provid

[2020-04-21 16:44] bhanukiran-karanam commented on #31
We accepted this bug and working on the fix.

[2020-04-22 07:47] chethanvmware commented on #31
Hi,
we are actively working on resolving the issue.
Meanwhile, as a workaround can you remove the repository entries(related to https://build-artifactory.eng.vmware.com) in pom.xml under the mangle directory?

To be specific, remove the repository of entry mentioned between 28 and 33, and 129 and 134

This should unblock you for now.

[2020-04-23 08:45] lladhibhutall opened #32 "Cannot Add k8s Cluster"
**Describe the bug**
Not able to add k8s cluster to mangle. Mangle is running on Openshift on the same cluster and namespace.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Endpoint >> Kubernetes Cluster
2. Click on `+ K8S Cluster`
3. Add any name; add credential(Its running on same cluster); add `default` as namespace
4. See error

**Expected behavior**
Should add K8s cluster to `Endp

[2020-04-23 09:23] ashrimalivmware commented on #32
Hi @lladhibhutall ,

Can you please provide the logs from mangle application?

Thanks,
-Avinash

[2020-04-23 09:57] lladhibhutall commented on #32
@ashrimalivmware The whole trace from OpenShift logs
[code]

[2020-04-24 01:49] ashrimalivmware commented on #32
Hi @lladhibhutall
It look like an issue with the openshift instance which you are using. The error message also thrown by the server, for reference please follow the similar issue raised with openshift: https://github.com/openshift/console/issues/1377.

Thanks,
-Avinash

[2020-04-24 08:00] lladhibhutall commented on #32
@ashrimalivmware even if I give it the namespace as the one where Mangle is running instead of default, it still gives me the RBAC error.

[2020-04-25 05:25] ashrimalivmware commented on #32
Hi @lladhibhutall

The issue is with the cluster you are using. Most probably the user which is mentioned in the config file is not admin that is why you are getting RBAC related issues.

Just for verification I have crated an Openshift 4.2 cluster and added it to Mangle with default namespace, and its working fine. (But with Admin User)

Can you please try again with Admin user?

Thanks,
-Avinash

[2020-04-25 08:20] gitRam18 opened #33 "Failing to inject Network Fault"
Describe the issue:
I am trying mangle deployed in a openshift environment. I am trying to inject a network fault (packet delay or packet duplication) on a remote linux machine within my organizational network but the networkFault script is failing with an error as below:

**com.vmware.mangle.utils.exceptions.MangleException: Precheck Failed with pre-requisites : tc is required, ip is required**

[2020-04-25 09:12] #32 closed

[2020-04-27 07:28] jayasankarr1990 commented on #33
This looks strange.If the script ran successfully ,ideally it should run when triggered from mangle as well.
Can you share the output when you run the script on the machine.The inputcommand  and output

[2020-04-27 12:32] gitRam18 commented on #33
Here is the output of the commands I ran on the same machine with same user and from the same folder as I mentioned in mangle to copy the script:

infra1@uklvadsb0257[DEV][~] $ cd temp
infra1@uklvadsb0257[DEV][temp] $ whoami
infra1
infra1@uklvadsb0257[DEV][temp] $ pwd
/home/infra1/temp
infra1@uklvadsb0257[DEV][temp] $ tc qdisc show
qdisc noqueue 0: dev lo root refcnt 2
qdisc mq 0: dev eth0 root
qd

[2020-04-29 08:45] lladhibhutall commented on #33
@jayasankarr1990 I tried the same thing, I think the `tc` command is not found because `/sbin` is not in   `PATH`, when I ran `ssh _username_@_ip_ "export PATH='/sbin:$PATH';tc"` it worked fine.

[2020-04-30 11:32] aswathy-ramabhadran commented on #33
@lladhibhutall thanks for the feedback. We will fix this.
@gitRam18 could you confirm if the workaround suggested by @lladhibhutall works for you as well?

[2020-05-01 07:21] gitRam18 commented on #33
**@lladhibhutall** and myself tried this together. Check if the path needs to be /usr/sbin Or /sbin whichever is more appropriate from the security perspective and let us know once you fixed.

One more request I have is:

- Not to delete the log file and to keep it for verification post remediation.

One question I have is:
- I have not tried but what if I give latency delay (ex: 10 sec) larger th

[2020-05-04 13:52] lladhibhutall opened #34 "Unable to Run Mangle Jar"
**Describe the bug**
While trying to run the `mangle-services.jar` after building it gives error saying:

[code]

The user doesn't actually have access to the `/home` so its throwing the error, is there a way I can change the path of base dir for mangle?

**To Reproduce**
Steps to reproduce the behavior:
1. git clone mangle
2. run `mvn clean install`
3. cd `mangle-service/target`
4. run `java –jar

[2020-05-04 14:03] vhkilari commented on #34
The issue is straight forward. We expect the user to provide a base directory for Mangle application runtime. You can configure it using property
'server.tomcat.basedir=/home/mangle/var/opt/mangle-tomcat' available in https://github.com/vmware/mangle/blob/master/mangle-services/src/main/resources/application.properties

[2020-05-04 14:23] lladhibhutall commented on #34
@vhkilari Cool, thanks! I didn't check in `application.properties`
The user actually doesnt have access to make any changes to /home.

I will close the issue.

[2020-05-04 14:23] #34 closed

[2020-05-05 13:36] aswathy-ramabhadran commented on #33
@gitRam18 there is a reason for making auto remediation mandatory for network faults. If there is an unusually high value set for say latency, then remote access (using putty and other tools) to the system under test would start failing. You will have to know where the machine is deployed and will have to manually do a remediation. In such cases it is better to have an auto-remediation in place. L

[2020-05-06 07:25] gitRam18 commented on #33
I understand but my challenge is on how to verify whether the fault has been injected or not. Do you suggest any tools to capture results before they get auto remediated? As I mentioned, logs are also deleted at the end.

Could you please respond on my first question as well regarding latency > timeout and in that case how the latency is effective if you remediate automatically.

And one more, do

[2020-05-15 12:58] jayasankarr1990 commented on #33
we will allow logs to be available after remediation and fix the sbin issue in the next release.Will update the bug once fixed.
Regarding  latency> timeout  ,latency will be effective till timeout happens.

[2020-05-17 14:35] lladhibhutall opened #35 "Unable to run mangle jar"
**Describe the bug**
While trying to run the `mangle-services.jar` after building it gives error saying:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone mangle
2. run `mvn clean install`
3. cd `mangle-service/target`
4. run `java –jar mangle-services-.x.x.x-jar –D......`

**Expected behavior**
Should start server and able to run the mangle app on browser(localhost)

**Logs*

[2020-05-17 17:47] vhkilari commented on #35
Hi @lladhibhutall,
The root cause for failure is, the mandatory parameter "hazelcast.config.validationToken" is not provided in 'application.properties'. It can be resolved in either of the ways.

1.  Provide as a program Parameter '-Dhazelcast.config.validationToken=TokenValue'

2. Set value in application.properties as "hazelcast.config.validationToken=${clusterValidationToken:TokenValue}".

[2020-05-17 19:16] lladhibhutall commented on #35
@vhkilari `Node spin up failed, mis-matching validation token with the one configured in db`, we are using the cassandra docker image from mangle-user, is there any preconfigured token?

[2020-05-18 05:52] vhkilari commented on #35
@lladhibhutall The first time node spin up with a random string as Validation token If the user does not provide it. Use the below commands to find the pre-configured Validation Token from the Cassandra DB.

`docker exec -it {cassandra-container} /bin/bash
cqlsh --ssl;
use mangledb;
select validationtoken from cluster;`

[2020-05-19 07:52] vhkilari commented on #35
@lladhibhutall, Please close the issue, if you have progressed with the local execution of mangle.

[2020-05-22 11:28] #35 closed

[2020-09-14 21:51] xnull opened #38 "Can't run mangle in docker"
**Describe the bug**
I've been trying to run mangle in docker, and spring throws an exception and exits

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'terminal'
2. Click on '....', run `docker run -ti --rm -p 8080:8080 -p 8443:8443  mangleuser/mangle:2.0`
3. Scroll down to '....'
4. See error

**Expected behavior**
Mangle runs

**Screenshots**
If applicable, add screenshots to help e

[2020-09-17 03:40] zwaris66 opened #39 "Can't connect to Mangle UI"
I am getting the following error:

Bad Request
This combination of host and port requires TLS.

[2020-09-17 05:14] rpraveen-vmware commented on #38
Hi,
It seems mangle is unable to connect to cassandra at port 9042.
Do you have the cassandra container running..?
If not,
could you please deploy the cassandra container:

docker run --name mangle-cassandradb -v /cassandra/storage/:/var/lib/cassandra -p 9042:9042 -d -e CASSANDRA_CLUSTER_NAME="manglecassandracluster" -e CASSANDRA_DC="DC1" -e CASSANDRA_RACK="rack1" -e CASSANDRA_ENDPOINT_SNITCH="Gos

[2020-09-17 05:16] avishrimali commented on #39
Hi,

Can you please explain a bit more about the issue? Like what mode you have selected to deploy mangle Docker/K8S or ova, and system logs, screenshot etc.
Thanks,
-Avinash

[2020-09-17 17:20] zwaris66 commented on #39
I deployed it in K8s v1.16. i can coonect to it if do;
C:\Users\468569>kubectl port-forward svc/mangle-service 8000:8443 -n mangle
from my PC but can connect to it via internet.

[2020-09-18 05:21] avishrimali commented on #39
It looks like the mangle service url is not public facing. If you are able to access mangle via port forwarding then it must be some configuration issue with k8s cluster configuration.

Thanks,
-Avinash

[2020-09-18 05:24] #23 closed

[2020-09-18 05:24] #31 closed

[2020-09-18 05:32] zwaris66 commented on #39
Thanks, Avinash! BTW, it is possible to have a conference call to troubleshoot this issue?

Zee
________________________________
From: Avinash Shrimali <notifications@github.com>
Sent: Friday, September 18, 2020 5:21 AM
To: vmware/mangle <mangle@noreply.github.com>
Cc: zwaris66 <zwaris@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [vmware/mangle] Can't connect to Mangle UI (#39)

I

[2020-09-18 06:19] ashrimalivmware commented on #39
Sure please let me know the suitable timings, will schedule one.

[2020-09-18 20:09] zwaris66 commented on #39
Great! which time zone are you in? i am in US Central (Texas).

Thx!
Zee
________________________________
From: Avinash Shrimali <notifications@github.com>
Sent: Friday, September 18, 2020 6:19 AM
To: vmware/mangle <mangle@noreply.github.com>
Cc: zwaris66 <zwaris@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [vmware/mangle] Can't connect to Mangle UI (#39)

Sure please let me know

[2020-09-21 06:20] ashrimalivmware commented on #39
Hi Zee, I am in IST time zone.

[2020-09-21 15:04] zwaris66 commented on #39
What time do you start your day? I can set up a meeting late at night my time.

Thanks!
Zee
________________________________
From: Avinash Shrimali <notifications@github.com>
Sent: Monday, September 21, 2020 6:20 AM
To: vmware/mangle <mangle@noreply.github.com>
Cc: zwaris66 <zwaris@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [vmware/mangle] Can't connect to Mangle UI (#39)

Hi Ze

[2020-09-22 13:10] ashrimalivmware commented on #39
Sure Zee, can we do it tomorrow evening i.e. morning hours your time?
cc @rpraveen-vmware

[2020-09-22 13:58] rpraveen-vmware commented on #38
Hi,
Let me know if you are able to resolve this issue and can close this issue.

[2020-09-22 16:53] xnull commented on #38
Hi, @rpraveen-vmware your answer helped me figure out how to run it on Mac os, thanks. One of the tricks is to define a custom network which provides domain name resolution inside the network.

Command lines:
[code]

[code]

P.S. Unfortunately all this, is not clear from the documentation.
I think it would be great to provide a docker-compose file in the documentation, which clearly shows how to r

[2020-09-22 16:53] #38 closed

[2020-10-14 08:46] ashrimalivmware commented on #39
Hi @zwaris66 Closing this issue as per our last conversation.

[2020-10-14 08:46] #39 closed

[2020-11-09 17:48] teinertt opened #42 "Security Vulnerabilities"
Hi Mangle Team,

My team and I are trying to deploy Mangle for use on a client engagement and ran a vulnerabilities check against the dependencies and executables packages.  We have found numerous critical vulnerabilites and were hoping to get some help updating the versions of these packages.  Would it be possible for this to be done?  Below is a list of the critical security vulnerabiltes and kn

[2020-11-10 07:29] aswathy-ramabhadran commented on #42
Hello @teinertt, we are planning to include all the security fixes for the next release of Mangle scheduled for end of Jan 2021. Upgrade of the packages will require additional testing effort and that is the reason why we are clubbing the changes with the next release. Will that timeline work for you? If not let me know.

[2020-11-10 15:16] teinertt commented on #42
Hi @aswathy-ramabhadran,   we are trying to be finished with our project by end of Dec 2020 so waiting until end of Jan 2021 would not work for us unfortunately.  Is there anything that can be done about just the critically vulnerable packages mentioned?

[2020-11-11 03:42] aswathy-ramabhadran commented on #42
Hello @teinertt we will get back to you on when we can resolve the security vulnerabilities for 2.0.0. We will see if we can accommodate and push that change earlier.

[2020-11-12 15:16] teinertt commented on #42
Thanks @aswathy-ramabhadran.  We have also found the following that need to be updated.  Any newer version should suffice.

com.fasterxml.jackson.core_jackson-databind   -     2.9.8
libbz2-1.0,bzip2    -   1.0.6-8.1
log4j_log4j      -     1.2.17
Java   -   1.8.0_181  - critical patch update available through Oracle

[2020-11-19 06:56] rglastra commented on #42
We've identified the same vulnerabilities in our scans. We're making these updates as we speak and would be happy to share it with the community as soon as we can. I'm hoping within the next couple weeks, if we can get the CLA pushed through legal on our end, but this may (unfortunately) be early January as well.

[2020-11-19 07:01] rglastra opened #44 "Public roadmap?"
In reading the [other issue](https://github.com/vmware/mangle/issues/42), @aswathy-ramabhadran mentioned a January 2021 release.
This got me thinking that it would be nice if the Mangle roadmap was published (i.e. in GitHub) where we could all access it.

Is this something that we could consider doing?

And related to this, do you see any other opportunities for us to stay in lockstep with each ot

[2020-11-19 07:17] aswathy-ramabhadran commented on #44
@rglastra you are right. There is an internal repo of mangle that we push to regularly before the sync happens to the public repo once every release. Your ask is valid. Let me see if we can put a doc page that answers the road map question so that the community is aware of what comes up next and the tentative timelines for it.

[2020-11-19 19:57] teinertt commented on #42
@rglastra Thank you for the update.

[2020-12-07 05:00] aswathy-ramabhadran commented on #42
@teinertt We have upgraded to latest version of the dependent packages and the changes are now available in the repo and the .ova + container images. Some of the packages that you have mentioned here are not direct dependencies for Mangle however we expect most of the vulnerabilities to be addressed now. Let us know if you see any issues.

[2020-12-07 15:31] teinertt commented on #42
@aswathy-ramabhadran Thank you for this update, and thanks to everyone who helped get this resolved.  If there any more issues I will let you know.

[2020-12-07 15:31] #42 closed

[2020-12-27 02:00] anuanju89 opened #46 "Java Method Latency Not Working"
**Describe the bug**
When I execute Java Method Latency fault with 20,000ms latency at specific method and class from mangle application, it is showing in logs that "Completed Fault Injection". However when I make a manual API call to the service, I do not observe any latency close to 20 seconds added to service response. The response time of this API without Network latency is typically ~5 second

[2021-01-04 15:44] vhkilari commented on #46
@anuanju89 I appreciate your deep analysis before raising the issue.
[code]
suggests us that there is no active fault being run by Java Agent now. As the other code faults are getting executed with no issues. There is no issue with application instrumentation by mangle-java-agent. I suggest you try the below steps. we will take further steps based on your feedback.

Try the below command to force

[2021-01-04 15:50] vhkilari commented on #46
@anuanju89 You have dug advanced level information from mangle for helping us to RCA the issue. It demonstrated your expertise in Mangle tool and System Administration. We are hoping to receive 360-degree feedback and contribution from you to make our Mangle more appealing to the chaos engineering community.
Thanks,
    -Hemanth K

[2021-01-06 06:22] anuanju89 commented on #46
@vhkilari Thank you for the response.
I ran bmsubmit.sh with forceExit option and exiting agent was exit successfully.

I tried re running the fault again using commands, but didn't find "Sleeping" string in my application logs and latency also not induced in the application.
### Few observations on output of fault execution commands.
On execution of bminstall.sh, Listener started, but it says "Ca

[2021-01-06 06:36] anuanju89 commented on #46
After executing the faults using commands with modified the btm file, I observed below lines in application logs.
[code]

[2021-01-06 11:36] vhkilari commented on #46
@anuanju89, Can you try executing the fault? with below btm file contents after replacing the <FULLY-QUALIFIED-CLASS-NAME>, <METHOD-NAME> with your actaul target class name (e.g. javax.servlet.http.HttpServlet) and method name (e.g. service(HttpServletRequest,HttpServletResponse).

RULE 70bb3609-d61f-49fb-b025-3f7064c9854d
CLASS <FULLY-QUALIFIED-CLASS-NAME>
METHOD <METHOD-NAME>
HELPER com.vmware.m

[2021-01-06 23:11] anuanju89 commented on #46
I have above content only in my btm file. The only difference is new line between AT ENTRY and IF true. I deleted that new line entry and executed fault with the btm file, still did see "Sleeping" string in application logs and latency in the application.
I ran trouble shoot commands and the out is same as above mentioned comment-
#### Output of trouble shoot commands for original btm file (Helper

[2021-01-06 23:13] anuanju89 commented on #46
@vhkilari

[2021-01-07 04:07] vhkilari commented on #46
Is 'ENDRULE' line missing in your RULE file?

[2021-01-07 18:58] teinertt opened #47 "Mangle Vcenter Adapter help for Kubernetes deployment of Mangle"
Hello Mangle Team,

I am trying to connect Mangle to a Vcenter endpoint. After reading the documentation and watching a demo video on Youtube, I believe I need to have mangle-vc-adapter deployed in order to interact with the Vcenter. We have deployed Mangle using the Kubernetes files.  I know there is a Docker command in the documentation to install the adapter, is there a similar kube command or

[2021-01-07 22:17] anuanju89 commented on #46
@vhikilari - ENDRULE is not missing, just I missed pasting that in the comment.

I can do Teams meeting, if that works. Please let me know.

[2021-01-08 02:43] vhkilari commented on #46
@anuanju89 Teams meeting will work for me. Let me know, your preferrable time.

[2021-01-08 02:50] vhkilari commented on #47
mangle-vc-adapter is a plain micro service with no external dependencies. The container can be deployed as a pod with access to targeted VC environments. Please give us time to provide a tested Kubernetes deployment file from our side.

[2021-01-08 05:35] aswathy-ramabhadran commented on #47
@anjalir-arkin please provide a sample K8s deployment file for vcenter-adapter. Would also recommend that you push it to the public git repository for future reference.

[2021-01-08 15:35] anuanju89 commented on #46
Hi Hemanth,

I would prefer between 9 AM to 11 AM IST on all days.
Please let me know, if that works please share the teams ID.

Thanks
Lakshmi P

On Thu, Jan 7, 2021, 7:43 PM Hemanth Kumar Kilari <notifications@github.com>
wrote:

[2021-01-12 05:09] rglastra opened #48 "MySQL support"
Hi Mangle team!

Since adopting Mangle for use within our company we've had to make a number of changes.
Aside from addressing vulnerabilities this primarily required swapping out Cassandra for MySQL (we could've gone with Aerospike, but for other reasons decided to go with MySQL).

I could either publish these changes through a public fork (since they're not backwards compatible), or we could sen

[2021-01-12 05:10] rglastra commented on #44
Hi @aswathy-ramabhadran, happy new year!
I'm curious if you've had a chance to think about this? Perhaps [Projects](https://github.com/vmware/mangle/projects/1) could suffice?

[2021-01-12 06:50] vhkilari commented on #46
@anuanju89 Please forward your request to mange@vmware.com. We will join the meeting.

[2021-01-12 07:34] aswathy-ramabhadran opened #49 "Coming Soon in February 2021!"
### Mangle 3.0 will be available soon!

**What can you expect in the new release?**

1. Support for Azure Endpoint
2. AWS RDS Faults and EBS Volume Faults
3. DB Faults: Connection Leak, Transaction Latency, Transaction Error
4. New OOTB integrations: Prometheus, Slack
5. Support for Remote Machines as a Cluster
6. Redis Faults: Integration with RedFI
7. Network Partition Fault
8. Time Skew Fault
9

[2021-01-12 07:40] aswathy-ramabhadran commented on #44
@rglastra for now I have created an [issue ](https://github.com/vmware/mangle/issues/49) that lists all the new features and have added it to the Projects section. For future release we will break it down and track it as individual issues so that the community can  provide feedback.

[2021-01-12 12:25] aswathy-ramabhadran commented on #48
Hello @rglastra there has been enquiries about supporting other DBs but we haven't been able to get to it yet. It is great that you already have a working version of this. You can publish these changes through a public fork for now. We can provide a link to it from our public docs post the 3.0 version timeline. Let us know if it works for you.

[2021-01-13 05:16] #44 closed

[2021-01-15 16:23] teinertt commented on #47
Any update on a K8s deployment for vcenter-adapter?

[2021-01-21 00:57] ghost opened #50 "Dynatrace support for Resiliency Score - Quantifying fault tolerance using metrics"
Dynatrace support for Resiliency Score reporting.

[2021-01-25 03:53] anuanju89 commented on #46
@vhkilari
Hi Hemanth - We sent Teams invitation to the above email for Today (9 AM to 10 AM IST). The subject of invitation is "Mangle - Git Issue#46 - Java Method Latency Not Working". We have not received any acknowledgement or reply to the invitation.
Can you please confirm if our invitation was received?
If your team is not available during the my scheduled time, please provide your team avail

[2021-01-30 00:28] teinertt commented on #47
Thank you for your help getting these files.  I was able to deploy the mangle-vc-adapter onto our container and it shows the pods running.

However, I am not able to get a connection to the vCenter host.  When testing the connection I get the message "Authentication to VCenter ip <ip> failed."  The error code in the logs is  "Error Code : FIVC001, Error Message : Authentication to VCenter <ip>"

I

[2021-02-02 13:54] aswathy-ramabhadran commented on #47
@teinertt we are looking into this. @rpraveen-vmware or @anjalir-arkin will provide you with the next steps for this.

[2021-02-02 18:32] rpraveen-vmware commented on #47
Hi @teinertt
As part of troubleshooting this issue, I deployed the mangle-vcenter-adapter in our k8s cluster.
So, its running as pod in parallel to mangle pod.
Am able to add the vcenter adapter to Mangle.
But upon adding the vCenter Endpoint by providing the VC URL, I get the same error  "Error Code : FIVC001".
Upon debugging, I see that Mangle is able to reach vcenter-adapter deployed but throwi

[2021-02-08 06:31] vhkilari commented on #47
@teinertt Hope you were unblocked with the help of a comment from @rpraveen-vmware. Please post an update on your status.

[2021-02-08 18:44] teinertt commented on #47
@rpraveen-vmware Thank you for this information.   @vhkilari I will forward this information and work with team who is working on this issue, and I will update with results.

[2021-02-15 14:32] #49 closed

[2021-02-15 15:02] vhkilari commented on #33
The issue is resolved with the 3.0.0 release. Please upgrade to 3.0.0 and verify.

[2021-02-15 15:05] vhkilari commented on #46
@anuanju89, The issue with infrastructure N/W Fault is resolved with the 3.0.0 release. Please upgrade to 3.0.0 and verify. The upgrade instructions available at
https://vmware-1.gitbook.io/mangle/mangle-administration/supported-deployment-models#upgrading-existing-instances-of-mangle .

[2021-02-15 15:07] vhkilari commented on #33
The documentation to Mangle upgrade available at https://vmware-1.gitbook.io/mangle/mangle-administration/supported-deployment-models#upgrading-existing-instances-of-mangle

[2021-02-17 04:48] anuanju89 commented on #46
@vhkilari - Thanks you Hemanth, will upgrade and validate the Network Latency

[2021-02-17 15:21] itsforbabu commented on #42
@aswathy-ramabhadran I see that you mentioned you were able to pull latest version and it had the issue fixed, but wondering which version was this exactly. Was it mangle 2 itself? OR was it mangle 3? We are currently using mangle 2 for our POC and wondering if we should be pulling mangle 3 or not for our POC.

[2021-02-17 15:36] aswathy-ramabhadran commented on #42
The vulnerabilities are fixed in Mangle version 2.0.1 as well as 3.0. If you are looking for a POC, it would be better to pull the latest version 3.0.

[2021-02-17 18:10] techtreet commented on #42
@aswathy-ramabhadran From the docker hub how do I get specific versions? All I see is the following on docker hub that probably pulls which ever is the latest, but if I want to pull and play with different versions, pls provide specific pull commands for 2.0.1 as well as version 3. I need to have our internal repo management team pull specific version 3 and have them security scanned, before we us

[2021-02-18 17:16] ghost opened #51 "K8s drain node attack"
Can you please add K8s drain-node attack? This will help in the K8s cluster (like in Azure) where we won't have the ability to add or remove a node from the cluster on the fly.

Thx!

[2021-02-19 17:20] techtreet commented on #42
We did "twistlock" scan on latest versions available (cassandra 1, mangle 3, mangle vc adapter 3). The following are the criticals that still showing up. Due to this our Infosec team are not happy so far. It doesnt seem like any of the above reported vulnerabilties from previous versions (cassandra 1, mangle 2.0.0, mangle vc adapter 2.0.0) are fixed at all. We were hopefull that version 3 would ha

[2021-02-19 17:26] techtreet commented on #42
We did "twistlock" scan on latest versions available (cassandra 1, mangle 3, mangle vc adapter 3). The following are the criticals that still showing up. Due to this our Infosec team are not happy so far. It doesnt seem like any of the above reported vulnerabilties from previous versions (cassandra 1, mangle 2.0.0, mangle vc adapter 2.0.0) are fixed at all. We were hopefull that version 3 would ha

[2021-02-19 17:30] techtreet commented on #42
The above reported vulenerabilties seem to be still existing on newer versions. Couldnt attach files so pasting information. First list correlelates with secodn list items in the order listed.

### Mangle 3

com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
apache tomcat_to

[2021-02-19 17:32] techtreet commented on #42
The above reported vulenerabilties seem to be still existing on newer versions. Couldnt attach files so pasting information. First list correlelates with secodn list items in the order listed.

### Mangle 3
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
apache tomcat_tom

[2021-02-19 17:33] techtreet commented on #42
The above reported vulenerabilties seem to be still existing on newer versions. Couldnt attach files so pasting information. First list correlelates with secodn list items in the order listed.

### Mangle 3
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
apache tomcat_tom

[2021-02-19 17:35] techtreet commented on #42
The above reported vulenerabilties seem to be still existing on newer versions. Couldnt attach files so pasting information. First list correlelates with secodn list items in the order listed.

### Cassandra 1
python2.7
file
nss
bzip2
systemd
glibc
ch.qos.logback_logback-core
glibc
glibc
glibc
libidn
python2.7
io.netty_netty-all
io.netty_netty-all
java

-------------------------

Python 2.7.x thro

[2021-02-19 17:36] techtreet commented on #42
The above reported vulenerabilties seem to be still existing on newer versions. Couldnt attach files so pasting information. First list correlelates with secodn list items in the order listed.

### mangle vcenter 3
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
apache to

[2021-02-19 17:36] techtreet commented on #42
The above reported vulenerabilties seem to be still existing on newer versions. Couldnt attach files so pasting information. First list correlelates with secodn list items in the order listed.

### mangle vcenter 3
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
com.fasterxml.jackson.core_jackson-databind
apache to

[2021-02-19 17:38] techtreet commented on #42
BTW the above findings are based on twistlock scans. I am still trying to get the information about which corresponding latest versions for the above are the fixes for these.

[2021-02-19 17:39] techtreet commented on #42
BTW the above findings are based on twistlock scans. I am still trying to get the information about which corresponding latest versions for the above are the fixes for these. Sorry for multiple posts above, but this is the best I could do as I cant edit the posts for some reason from with in our corporate network

[2021-02-19 18:11] techtreet commented on #42
BTW the above findings are based on twistlock scans. 3 ports above, one for each of (mangle 3, cassandra 1, mangle vc adapter 3). I am still trying to get the information about which corresponding latest versions for the above are the fixes for these. Sorry for multiple posts above, but this is the best I could do as I cant edit the posts for some reason from with in our corporate network

[2021-02-19 18:11] techtreet commented on #42
BTW the above findings are based on twistlock scans. 3 posts above, one for each of (mangle 3, cassandra 1, mangle vc adapter 3). I am still trying to get the information about which corresponding latest versions for the above are the fixes for these. Sorry for multiple posts above, but this is the best I could do as I cant edit the posts for some reason from with in our corporate network

[2021-02-23 07:28] aswathy-ramabhadran commented on #42
Hello,

Hello @tektalent,

Apologize for the late response.

You can add the version number at the end of the command to pull specific versions (eg: docker pull mangleuser/mangle:2.0.1). Please refer to the attached screenshot.

[cid:image001.jpg@01D709E5.22321FB0]

From: tektalent <notifications@github.com<mailto:notifications@github.com>>
Sent: Wednesday, February 17, 2021 11:41 PM
To: vmware/ma

[2021-02-23 07:33] aswathy-ramabhadran commented on #42
Hello @tektalent,

There are internal recommendations from VMware as to what is the expected versions to upgrade to. We rely on IBM app scan and are following the same recommendations.

If there are specific versions that you need to upgrade to and if it doesn't align with what we have pushed, you can pull the code from the public repository update the dependencies and create your own container im

[2021-02-26 07:30] vhkilari commented on #51
@zwaris66 We will have this addressed in the future release of Mangle. If the requirement is a high priority item for you, we can help you with the implementation. The change will require only an upgrade to your mangle-default-plugin.

[2021-02-26 14:56] zwaris66 commented on #51
Thanks, Kilari! For us drain node attack is very critical. Please let me know what i need to do to make is available.

Zishan

________________________________
From: Hemanth Kumar Kilari <notifications@github.com>
Sent: Friday, February 26, 2021 1:30 AM
To: vmware/mangle <mangle@noreply.github.com>
Cc: zwaris66 <zwaris@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [vmware/mangle]

[2021-02-27 05:43] aswathy-ramabhadran commented on #33
Closing the issue as fixed in 3.0.

[2021-02-27 05:43] #33 closed

[2021-03-03 09:28] vhkilari commented on #51
@zwaris66 Please forward a meeting request via zoom or MS Teams to mangle@vmware.com. I will walk you through the details.
Thanks,
    -Hemanth K

[2021-03-04 13:46] vhkilari commented on #46
@anuanju89, Any updates?

[2021-03-04 14:23] anuanju89 commented on #46
The issue was tested on sample tomcat and jboss apps deployed in open shift
and we were able to successfully induce latency with out issues.

On Thu, Mar 4, 2021, 6:46 AM Hemanth Kumar Kilari <notifications@github.com>
wrote:

[2021-03-04 18:47] #46 closed

[2021-03-04 18:49] vhkilari commented on #47
@teinertt Any Updates?

[2021-03-23 07:15] tarunmudgal opened #59 "Error injecting Application fault on the Target java process descriptor : kubernetes pods"
Errors seen:

2021-03-12 12:44:21.452 [BytemanFaultTaskHelper-1615552998671-1] INFO  com.vmware.mangle.utils.CommonUtils.delayInSeconds (67) - Sleeping for 5 seconds2021-03-12 12:44:21.452 [BytemanFaultTaskHelper-1615552998671-1] INFO  com.vmware.mangle.utils.CommonUtils.delayInSeconds (67) - Sleeping for 5 seconds2021-03-12 12:44:27.616 [BytemanFaultTaskHelper-1615552998671-1] ERROR com.vmware.ma

[2021-03-23 07:21] tarunmudgal opened #60 "Spring Service Latency Fault throws error when providing process descriptor name in "JVM Process" field"
BytemanFaultTaskHelper-1615882372248-5
 FAILED
csp-app-preview
INJECTION
Executing Fault: SPRING_SERVICE_LATENCY on endpoint: csp-app-preview. More Details: [ JVMCodeLevelFa
more
Mar 16, 2021, 1:42:44 PM
Mar 16, 2021, 1:43:49 PM
ErrorCode : FI0101, ErrorMessage : Target application is not a Java process or not yet initialized. More details available in mangle log.

[2021-03-28 18:29] johnqa opened #61 "Installation in Kubernetes cluster is failling"
Hi,

I am trying to deploy mangle into a Kubernetes cluster but I am not able to do so.
It fails at `kubectl -n mangle apply -f .\mangle.yaml`
First it complains that: `error: unable to recognize ".\\mangle.yaml": no matches for kind "Deployment" in version "extensions/v1"`

Than after I change magle.yaml to have `apiVersion: apps/v1` it complains that:
[code]

Also I noticed that in mangle.yaml t

[2021-03-28 19:01] johnqa opened #62 "unable to do a docker installation of mangle"
Hi,

I am trying to deploy mangle using docker containers by executing the following commands in Windows (Docker Desktop):
[code]

Both containers are running but when trying in the browser with 127.0.0.1 for both 8080 and 8443 I get:
[code]
Moreover I see no errors in the logs of mangle container.

Thank you,
John

[2021-04-06 21:08] davidzengusa opened #64 "what type of privilege do we need in order to connect to vCenter to perform chaos testing"
we need to take advantage of the vCenter/adapter capability provided by Mangle, in order to perform vCenter/VM chaos testing,
when we setup an endpoint of vCenter in Mangle, we need to enter the user ID/password to connect to vCenter API, and vCenter administrator of our company is asking us what user ID/password we need? since he can not give us "admin" user privilege for sure, he is concerned ab

[2021-04-22 15:18] mkbhanda opened #65 "Doc: README file should begin"
**Describe the bug**
Readme file for a project should begin with a brief  high-level explanation of its purpose.
See https://github.com/kubernetes/kubernetes  and https://github.com/grafana/grafana

[2021-04-29 09:06] sathiyajith commented on #61
Im facing the same error. If anyone found the solution or workaround, please mention them here.

[2021-04-29 11:26] rpraveen-vmware commented on #61
Hi @johnqa , @sathiyajith
   Have by added the selector field and changed the api version and attached the mangle.yaml file.

The one in the github has worked in our kubernetes cluster.
The api version and certain tags will be changed according to the k8s cluster version.
Hence, please use the one in attached (rename it to mangle.yaml instead of mangle.txt).

And let us know if you are able to dep

[2021-05-03 04:46] sathiyajith commented on #61
Is there any community channel like slack to discuss the errors and find a solution ?

[2021-05-03 05:05] sathiyajith commented on #61
Cassandra deployment fails with the following error:

[code]

Should I remove the volume claims or what is the solution. please mention.

[2021-05-03 05:57] rpraveen-vmware commented on #61
Hi @sathiyajith
Seems like,
The persistentvolume-controller has failed to find a PV with a capacity size which is equal or higher than the value that was specified in the PVC.

As per the value specified in cassandra.yaml,
resources:
        requests:
          storage: 10Gi

You can try giving the lesser value and deploy the cassandra pod.

Also this is the public Mangle channel:
https://join.sla

[2021-05-03 08:59] tarunmudgal commented on #60
Any progress on this ticket?

[2021-05-09 11:47] anuanju89 opened #66 "Adding Remote host Credentials with private key - Invalid Private Key"
Hi Team,

I am trying to add Remote Host credentials using Private Key option and getting "Invalid Private Key" error.

I have .ppk file which I use to connect to my EC2 instance and I am able to successfully ssh to EC2 instance through that ppk file.

But when I use that same ppk file for connecting to EC2 instance through Mangle, I am getting above error.

Please help.

Mangle Version : 2.0

Tha

[2021-05-09 17:27] #66 closed

[2021-05-09 17:28] anuanju89 commented on #66
Never Mind - Found Solution. Its pem file that is accepted by mangle

[2021-06-01 06:50] Monika371 opened #69 "Unable to connect docker which is hosted in the remote machine."
![Screenshot (891)](https://user-images.githubusercontent.com/67327823/120279046-9e9e6200-c2d3-11eb-9b17-16f78d64e22b.png)
I am trying to connect docker from mangle and i am end up with this error message. Please help me out and refer the attachment.

[2021-06-17 14:00] suprasupa opened #71 "Container deployment issue"
Hi Team,
We are trying to deploy Mangle3.0 container images in ECS Fargate. We have not done any changes to images so far. while deploying we are getting the below error for Cassandra:
Cassandra is unavailable-sleeping
Connection error:('Unable to connect to any servers'{'127.0.0.1':error(111,"Tried connecting to [(127.0.0.1,9042)].Last error:Connection refused")})

while trying from EC2 we got th

[2021-06-19 05:53] ashrimalivmware commented on #71
Hi @suprasupa could you please post the command you are running to bring the container up?

[2021-06-25 15:12] suprasupa commented on #71
docker run --name mangle-cassandradb -v /cassandra/storage/:/var/lib/cassandra -p 9042:9042 -d -e CASSANDRA_CLUSTER_NAME="manglecassandracluster" -e CASSANDRA_DC="DC1" -e CASSANDRA_RACK="rack1" -e CASSANDRA_ENDPOINT_SNITCH="GossipingPropertyFileSnitch" <internal repo>

[2021-06-30 14:53] suprasupa opened #73 "Suggestion for Fault injection in ECS with Mangle"
Hi Team,
Could you please advise if we can perform chaos scenarios for  ECS or not. If yes please guide how to proceed.

[2021-06-30 17:23] suprasupa commented on #62
Is this issue resolved? Please post the solution.

[2021-07-01 03:44] rpraveen-vmware commented on #62
Hi @suprasupa
https://localhost:8443/mangle-services/
is the URL to connect to mangle application through browser.

Let us know if you are able to reach this.
If not, we need to inspect on the values that you have provided for DcassandraContactPoints and others.

[2021-07-02 14:53] techtreet commented on #64
I had same question to mangle folks several months back on another thread and also sent email to them, but no response. Our Vcenter folks are ready to help to integrate with Vcenter but only if we can define the level of access that mangle expects from vcenter, so that they can review our request create exactly what is expected. Otherwise without such documentation about the level of access expect

[2021-07-02 15:25] techtreet opened #74 "Mangle keeps posing for password change very frequently, not sure if this is expected behaviour."
**Describe the bug**
Mangle keeps posing for password change very frequently, not sure if this is expected behaviour. The user id I use is "admin"

**To Reproduce**
Steps to reproduce the behavior:
1. Open url https://manglenamespace/mangle-services/
2. It poses password change

**Expected behavior**
Should login the user and not pose change password screen so frequently

[2021-07-08 17:53] suprasupa commented on #22
Is this issue already fixed in Mangle 3.0 ? If not what is the workaround. I have deployed Mangle in ECS Fargate and now not able to login neither with changed password or with the default password.

[2021-07-09 02:45] suprasupa commented on #71
I am able to deploy the mangle on ECS Fargate and the above error did not affect the deployment so not thinking much as UI is up and running

[2021-07-09 04:45] ashrimalivmware commented on #71
@suprasupa Glad it's working fine. Can we close this issue?

[2021-07-09 06:29] ashrimalivmware commented on #74
Hi @techtreet Which version of Mangle you are using?

[2021-07-12 19:10] suprasupa commented on #71
yes sure ..we can close the issue

[2021-07-12 19:10] #71 closed

[2021-07-12 19:22] techtreet commented on #74
its version 3.0.0

[2021-07-13 05:13] ashrimalivmware commented on #74
@techtreet , it's always recommended to use DB persistent so please use -v option for DB container to run. eg:
docker run --name mangle-cassandradb -v /cassandra/storage/:/var/lib/cassandra -p 9042:9042 -d -e CASSANDRA_CLUSTER_NAME="manglecassandracluster" -e CASSANDRA_DC="DC1" -e CASSANDRA_RACK="rack1" -e CASSANDRA_ENDPOINT_SNITCH="GossipingPropertyFileSnitch"  mangleuser/mangle_cassandradb:<VERS

[2021-08-31 10:58] Bhumika1997 opened #78 "Connection Failure: timeout: socket is not established"
Hi,
While adding Remote Machine in Endpoint I am getting an error " Connection Failure: timeout: socket is not established"
Can somebody help me on this?
![image](https://user-images.githubusercontent.com/33874082/131490999-c42dc1e5-cb33-4ee1-8de8-3634ca77ce8b.png)

[2021-08-31 11:08] ashrimalivmware commented on #78
Hi @Bhumika1997 , Please make sure SSH is enabled and listening port is 22.

[2021-08-31 11:25] Bhumika1997 commented on #78
Hi, Yes SSH is enabled and listening port is 22

[2021-08-31 12:04] SAnkit11 commented on #78
Hi @Bhumika1997, if still connection is not establishing then, you need to verify few checklists.
   First, try to do ssh using command line for that specific server & verify if it is connecting or not.
      If Yes,
      1. Verify the credential, you have provided in mangle or create a new credential in mangle.
      2. Timeout you have provided only 1000ms, if server is slow then it may cause a

[2021-09-03 05:41] Bhumika1997 commented on #78
Hi, We have verified everything but still facing same issue
If it's server side error Can you please suggest what we should check or enable to make it work

[2021-09-03 13:59] SAnkit11 commented on #78
Hi @Bhumika1997 , try to do ssh to that linux-server using ssh-command.
 If, you are not able to do ssh, then it's linux-server side issue.
 Then, may be your linux-server is not reachable from the client where mangle is deployed or
   sshd-service is not enabled in your linux-server.
   So please check, is linux-server is reachable from the client where mange is deployed or if
   it's reachable t

[2021-09-27 11:37] Monika371 opened #80 "Timeout Milliseconds in Under Fault Injection Tab"
We have couple of request on the timeout milliseconds
1. Naming convention change request-Timeout milliseconds to Duration.
2. Dropdown request for selecting the time frequency (eg: ms, seconds, minutes & hr)

[2021-09-27 11:42] Monika371 opened #81 "Monitoring Tool -Integration Requirement"
Navigation: Settings-> Integration-> Metric-Providers
Similar to Datadog, and WaveFront we would like to have Applicare monitoring tool integrated with the Mangle.
Please do suggest and advice on feasibility of Applicare integration.

[2021-10-11 22:02] jv-frechstest opened #82 "CPU spike fault not injecting"
**Describe the bug**
 Mangle is deployed on OpenShift container. Trying to inject CPU spike fault  to clusterK8 endpoint service.
We are not able to spike the CPU to 90%. The CPU spikes very little compared to target we want.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Mangle UI'
2. Click on 'Fault Exception'
3. Click on 'CPU ',
4. Fill the Target cluster and JVM information, and

[2021-10-12 11:05] ashrimalivmware commented on #82
How much CPU spike you see after requesting 100%? How you are measuring the spike?

[2021-12-09 16:21] vhkilari commented on #81
Metric-Providers support in mangle is provided using the Spring Micrometer integration. The integration should have been an addition of a single Meter registry support if there is out-of-the-box support from Micrometer to Applicare.
 I do not find any resources on support from micrometer to Applicare. So, here you should be first implementing the Applicare meter Registry for micrometer and we can

[2021-12-16 09:34] ashrimalivmware commented on #47
Closing the issue as there is no reply from @teinertt, assuming the issue is resolved.

[2021-12-16 09:34] #47 closed

[2021-12-16 10:23] ashrimalivmware commented on #48
HI @rglastra,

Wanted to follow up on this if you want to publish Mangle with MySql support.

Thanks,
-Avinash

[2021-12-16 10:54] rglastra commented on #48
Hi! I'm no longer with the company that forked it, so I can't sync it back unfortunately.

Cheers,
Robert

[2021-12-16 11:17] ashrimalivmware commented on #48
Okay thanks Robert, let's close this ticket then.

[2021-12-16 11:17] #48 closed

[2021-12-17 09:33] #59 closed

[2021-12-17 09:33] ashrimalivmware commented on #60
fixed

[2021-12-17 09:33] #60 closed

[2021-12-17 09:35] ashrimalivmware commented on #61
Closing based on Praveen's comment.

[2021-12-17 09:35] #61 closed

[2021-12-17 09:42] ashrimalivmware commented on #62
Closing based on the comment.

[2021-12-17 09:42] #62 closed

[2021-12-17 09:51] ashrimalivmware commented on #64
Hi @davidzengusa , @techtreet
Details about vCenter adapter is already captured at: https://vmware-1.gitbook.io/mangle/mangle-administration/supported-deployment-models
To perform a Fault on vCenter you need to have Admin privilege, else you can't do much to inject a failure.
Document says:
The API documentation for the vCenter Adapter can be found at:
https://<NODE-IP>:<PORT>:/mangle-vc-adapter/s

[2021-12-17 09:51] #64 closed

[2021-12-17 10:34] ashrimalivmware commented on #65
Thanks @mkbhanda , the introduction section has been added to readme. More details about mangle is captured at https://vmware.github.io/mangle/ which is also part of readme section.

[2021-12-17 10:34] #65 closed

[2021-12-17 10:36] ashrimalivmware commented on #69
Closing this bug as we have discussed about it one of our call.

[2021-12-17 10:36] #69 closed

[2021-12-17 10:42] ashrimalivmware commented on #73
HI @suprasupa ,

Are you referring Amazon Elastic Container Service here? If that is yes then Mangle don't support it right now for AWS endpoint.
Closing the ticket right now, please reopen if your query is not answered.

[2021-12-17 10:42] #73 closed

[2021-12-17 10:44] ashrimalivmware commented on #74
Closing the ticket as the query is answered in the last comment.

[2021-12-17 10:44] #74 closed

[2021-12-17 10:45] ashrimalivmware commented on #78
Closing the issue as query is answered in the last comment.

[2021-12-17 10:45] #78 closed

[2021-12-17 11:00] ashrimalivmware commented on #82
HI @jv-frechstest  can you please provide more details about it?

[2021-12-22 06:52] ashrimalivmware commented on #82
Since there are no update closing the ticket, @jv-frechstest  please re-open if required.

[2021-12-23 03:58] dbhat-arkin commented on #81
Hi @Monika371 ,
Metric provider integration at Mangle provides 2 functionality :

1. Sending of fault injection events (will be sent from Mangle to configured metric provider each time when the fault is injected, remediated, completed, failed).
2. Sending mangle's application metrics to configured metric provider. This functionality will help in observing the mangle's resource usage at monitoring

[2022-01-03 17:00] prb-aerospike opened #87 "Network Partition Fault: Not working as expected"
**Describe the bug**
I am trying to inject network partition fault in a 4 Node cluster with EC2 instances where 2 nodes are specified as an endpoint group and other 2 nodes are defined as hosts which need to be partitioned from given endpoint group. I see that only 1 out of 2 hosts is partitioned from the network and remaining nodes still remain and form a cluster of 3 nodes that includes one of t

[2022-01-04 07:43] ashrimalivmware commented on #87
Hi @prb-aerospike

Can you please confirm if you have selected "Select Random Endpoint" field as True or False. If it was true can you please repeat the experiment with Random Injection as False?

[2022-01-04 15:31] prb-aerospike commented on #87
Hi @ashrimalivmware,

 I have tested this fault with "Select Random Endpoint" both  as True and False but found the same result in both cases.

Thanks,
Prakhar

[2022-01-06 11:24] ashrimalivmware commented on #87
Thanks @prb-aerospike ,
Can you please provide the logs to debug the issue further?
Log file can be found at: /tmp/infra_agent/infra_agent.log
Please attach the logs from both of the hosts which was part of Endpoint Group.

Thanks,
-Avinash

[2022-01-06 13:31] prb-aerospike commented on #87
Hi @ashrimalivmware,

Please find attached the requested logs from both hosts of endpoint group. In this experiment, hosts that need to be partitioned from endpoint group were 172.34.9.5 and 172.34.1.9 and only 172.34.9.5 was removed from the cluster because route was only added for 172.34.9.5(from the agent log).
[infra_agent_13.57.194.156.log](https://github.com/vmware/mangle/files/7822068/infra

[2022-01-07 10:27] ashrimalivmware commented on #51
Mangle 3.5 has the feature now.

[2022-01-07 10:27] #51 closed

[2022-01-07 10:27] ashrimalivmware commented on #50
Mangle 3.5 has the feature now.

[2022-01-07 10:27] #50 closed

[2022-01-07 10:31] ashrimalivmware commented on #87
Thanks @prb-aerospike  for providing the details. Team is working on this issue and will try to provide a fix by next week. We shall provide you a patch as it will take time to get the fix in official release.

[2022-01-14 17:42] prb-aerospike commented on #87
Thanks @ashrimalivmware for looking into the issue!

Is there any update on it yet?

Thanks,
Prakhar

[2022-01-16 07:10] ashrimalivmware commented on #87
Hi @prb-aerospike ,
Team is working on this, will update you more about it sometime early next week.
Thanks,
-Avinash

[2022-01-17 11:47] omar91089 opened #95 "Filters for Network fault"
Is there a way to execute Network fault with IP or Port filters? The fault is executed on the host's interface. If the deployed containers on the host use the same network interface, it would impact the traffic for all the containers. IP or port filters will help to restrict the impact to a specific container on the host

[2022-01-18 05:03] ashrimalivmware commented on #95
Hi @omar91089 ,

If you want to inject network fault to a specific container then you can directly use the network interface of respective container during fault injection. For eg on a host C1 and C2 containers are running and if you want to inject the fault on C1 container, then first step is to find out the network interface of C1 which will be created by docker0 (Virtual bridge interface create

[2022-01-18 10:46] omar91089 commented on #95
@ashrimalivmware Thank you for the response. I think this would work out when the `bridge` networking option is used. I'm trying to inject faults on an `IPvlan` (https://docs.docker.com/network/ipvlan/) network. I get only `eth0` on the host and using that would impact every container on the network. I think filtering would be one solution to isolate the container in this setup. I'm not sure if th

[2022-01-19 05:54] ashrimalivmware commented on #95
@omar91089 Currently Mangle doesn't support such isolation.
Thanks,
-Avinash

[2022-01-19 07:22] omar91089 commented on #95
@ashrimalivmware Got it. Are you planning to consider it in future releases?

[2022-01-19 08:35] ashrimalivmware commented on #95
Thanks for the suggestion Omar, will try to consider the feature for next mangle release.

[2022-01-28 05:58] ashrimalivmware commented on #87
Hi @prb-aerospike , the issue has been fixed. Please let me know if we can connect over a zoom call to discuss about the fix as to release mangle with the fix would take some time.

[2022-01-28 09:27] prb-aerospike commented on #87
Thank you @ashrimalivmware for the update!
Sure, we can connect over zoom.
My email Id is prakharbansal0910@gmail.com if you would like to send the invite.

[2022-02-02 05:30] ashrimalivmware commented on #87
@prb-aerospike Can we close the ticket?

[2022-02-03 00:25] prb-aerospike commented on #87
Yes @ashrimalivmware .
It's fixed for me now.
Thank you for quick turnaround on the solution for this issue!

[2022-02-03 00:25] #87 closed

[2022-02-14 09:28] prb-aerospike opened #101 "Lower Level Capabilities in Network Faults"
**Describe the solution you'd like**
1. Fault-injection on the network ports:
At present, mangle only supports injecting the network faults such as delay, packet drop on entire network interface. It would be nice to specify the particular port(s) of an interface as well to inject these faults rather than on  entire network interface.

2. Three-way Partitioning:
Mangle supports network partitioning

[2022-02-14 14:31] vmaligireddy opened #102 "Official Slackclient available"
Thanks for the OOTB Slack integration feature.
A small request related to the slackclient being used: The slackclient is from an old git repo without many recent updates. Can you please consider upgrading it to the official Slackclient provided/maintained by Slack team - https://slack.dev/java-slack-sdk/guides/web-api-basics.

Please let me know if I can send a PR for the same?

Thanks!

[2022-02-15 04:52] ashrimalivmware commented on #102
Sure we will consider it in next release, thanks @vmaligireddy .

[2022-02-15 04:55] ashrimalivmware commented on #81
Closing as there is no update from @Monika371 .

[2022-02-15 04:55] #81 closed

[2022-02-18 18:52] Anvesh42 commented on #82
Hi. Our team has adopted the mangle product in our organization. Its running as a docker image on the Kubernetes cluster. We have having similar issues with CPU_SPIKE & MEMORY_SPIKE. When we inject the 100% chaos on wither CPU or MEMORY spike, we only see about 60% injection.
We did try few times reaching out to mangle vmware support at mangle@vmware.com but we haven't been able to see any respons

[2022-02-21 03:40] rpraveen-vmware commented on #82
Hi @Anvesh42 ,
  As mentioned in the earlier comment, can you please specify how you are measuring the spike.
  As provided in details above, you are performing the Application level CPU/memory fault rite.
  Do you observe the similar issue when you perform the Infrastructure level faults..

[2022-02-21 18:50] vmaligireddy commented on #102
@ashrimalivmware I created a PR to fix the above issue. Please let me know if any further changes to the PR are needed. Thanks!

[2022-02-23 17:36] Anvesh42 commented on #82
@rpraveen-vmware Thanks for the response. So let me sum up the challenges/issues our team is facing with mangle before getting into the execution details and further scenarios that were run.

1. **Application Level CPU & MEMORY Faults**
At the application level, these faults expects a JVM process ID as a mandatory input. We have a Kubernetes environment where the deployment of a POD can land on an

[2022-02-24 06:05] rpraveen-vmware commented on #82
@Anvesh42
1.  For the Application level CPU and memory faults,
    The mandatory parameter JVM process can be Process Id or the JVM process descriptor name.
    Incase of the multiple pods, since the process Ids will be different, you can go for the second option.
    Use "jps" command to list the java processes with its descriptor name.
    eg:
     jps
     1296 Jps
     1 LintApplication

    T

[2022-02-25 15:12] Anvesh42 commented on #82
@rpraveen-vmware  Thanks for your inputs Praveen. I am working running these scenarios based on the above pointers.

Meanwhile, we are looking to upgrade mangle from 3.0 to 3.5. I have been told that 3.5 version has the Log4J issue remediation (an issue that happened very recently, few weeks ago)

https://hub.docker.com/layers/mangleuser/mangle/3.5.0/images/sha256-cc8d7c4542a86a942c046e118602db093

[2022-02-28 04:05] ashrimalivmware commented on #82
Hi @Anvesh42 ,

Mangle 3.5 has following changes:

1. Integrate Dynatrace as a Metric Provides to Mangle
2. Enhance Network faults to have a varied latency for the entire timeout
3. Option to show all the resources of a K8S cluster and provide option to select the required resource for fault injection.
4. Add a new Fault for K8S Drain Nodes.
5. Log4j Vulnerability fix.
6. A much improved Real time

[2022-02-28 20:08] Anvesh42 commented on #82
@ashrimalivmware @rpraveen-vmware  Thanks Avinash.

I did run the tests based on @rpraveen-vmware  suggestion to use the `jps` instead of `PID `using the current version of mangle. While it did help to some extent & addressed the concern, here are the findings,

1. I had 4 POD's of a microservice running on namespace. I injected the **CPU SPIKE** chaos at the **application level** using the **jps*

[2022-03-01 04:26] sneal opened #104 "Build/Debug Python fault scripts - requirements.txt to build infra_agent.tar.gz"
I'm attempting to use Mangle to inject faults into a BOSH managed VM and I need to debug and modify the Python scripts that are running on the remote VM. The Python fault injection scripts that are dumped onto the VM look to be compiled so I've attempted to clone the repo to the target VM and modify them from there, however that raises the following issues:

1. The `infra_agent.py` script gets an

[2022-03-01 06:29] ashrimalivmware commented on #82
@Anvesh42 Yeah it would be better if we can connect, MS teams is fine with us. Please feel free to schedule a call, preferable timings would be post 8:30 AM IST and before 9:30 PM IST.

[2022-03-03 11:36] jayasankarr1990 commented on #104
Create bundle for infra_agent using pyinstaller:

We use pyinstaller to bundle the application(https://pyinstaller.readthedocs.io/en/stable/)
Following python dependencies need to be installed on the linux machine where you create the bundle otherwise pyinstaller will throw error
:: psycopg2-binary,cassandra-driver,pymongo,psutil,distro

Steps:
1)Have mangle-infra-agent from mangle repo copied to

[2022-03-03 14:47] sneal commented on #104
I'll give that a try, thanks!

Is there a way to run/test the Python scripts without first running pyinstaller?

[2022-03-04 05:59] jayasankarr1990 commented on #104
Yes.Each of faults present inside mangle/mangle-infra-agent can be run using the main method provided along with the parameters.

[2022-03-15 15:15] Anvesh42 commented on #82
@ashrimalivmware @rpraveen-vmware Please find the attached OpenShift DC objects for sample namespaces, **DEV03** & **DEV70**, that we used during the working session to test the **CPU_FAULT** spike scenarios.

**DEV03 image properties:-** RHEL:7.7-openjdk:1.8.0.232

**DEV70 image properties:-** RHEL:7.9-openjdk:1.8.0.292

We tested the following scenarios by modifying the resources section in each

[2022-03-15 15:56] Anvesh42 opened #105 "Mangle 3.0 Stability - Cassandra DB goes down suddenly"
**Environment:** OpenShift v4.6.36
**Kubernetes Version:** v1.19.0
**Mangle Version:** 3.0
**Issue:**

1. Cassandra DB goes down with failed connections causing mangle POD to do multiple retries on the cassandra DB
2. Mangle product UI is not available for this entire duration

**Interim Solution Being Followed:**

1. Restart Cassandra POD
2. Restart mangle POD
3. Increase the resource limits on c

[2022-03-15 16:06] Anvesh42 opened #106 "Add support for elastic kibana integration with mangle to view the fault metrics on kibana"
This is a feature request to support new metric monitoring tool.

[2022-03-16 06:57] rpraveen-vmware commented on #105
Hi @Anvesh42
Let us know on the stability of the cassandra pod after increasing the resource limits.

[2022-03-16 16:04] Anvesh42 commented on #105
@rpraveen-vmware  I have increased the resources on the Cassandra configuration as discussed during our session. I shall monitor it for few days and observe the stability.
Thanks!

[2022-03-31 14:08] ethiomark opened #107 "Mangle 3.5 : Update is diabled for initial password change"
**Describe the bug**
Installed Mangle 3.5.0 both via the OVA as well as by deploying the docker containers. In both ways I could get Mangle up and running except that the update button is grayed out while changing the initial password.

**To Reproduce**
Steps to reproduce the behavior:
Install Mangle with the preferred way and reach the url at https://ip-address/mangle-services/
**Expected behavio

[2022-04-04 05:29] ranjansvmware commented on #107
We have tested different combination of updating the password. It will be helpful to debug the issue further, if you can share the special characters which you are using in your password. You may also try to update with different password, you can change your password to desired one at latter point of time as well.

[2022-04-07 12:14] ethiomark commented on #107
@ranjansvmware thanks for getting back to me. I am not sure if this has anything to do with the type of password I choose. I can't get the Update button activated no matter what. Anyways I have now found a work around this by disabling the change request right from Cassandra by executing the below and restarting the Mangle service.
`update passwordreset set isreset=True where id='password-reset-st

[2022-04-11 12:23] omar91089 commented on #95
@ashrimalivmware I've implemented the filters for destination IP and port using the approach described [here](https://github.com/alexei-led/pumba/blob/master/pkg/container/client.go#L475). I would like to discuss about it with you in more detail.
I also want to discuss about the PR #103 one of my work colleagues @vmaligireddy has opened on the project. Would it be possible to connect over a call?

[2022-04-11 12:49] ashrimalivmware commented on #95
Sure, we can connect.

[2022-04-18 18:25] Anvesh42 commented on #82
@rpraveen-vmware @ashrimalivmware Has there been any update on this? I hope your team was able to replicate the scenarios that we went over during our meeting few weeks ago and also as depicted in detail above.

[2022-04-18 18:32] Anvesh42 commented on #105
@ashrimalivmware @rpraveen-vmware Even after increasing the resource limits above (as stated above), the cassandra POD still goes down.
Attaching the latest log
[cassandra_04182022.txt](https://github.com/vmware/mangle/files/8507380/cassandra_04182022.txt)
.

[2022-04-20 11:28] ranjansvmware commented on #107
Thank you @ethiomark for making us to further re-look at the issue. DB level change is not recommended, as it may involve some other cascading effect with Mangle running instance.

After further debugging we found out that the password must consist of 8-30 characters and minimum of one digit, one lower alpha char, one upper alpha char, and one special character within a set of (@#$%!&+=)

We are p

[2022-04-20 11:28] #107 closed

[2022-04-20 14:44] rpraveen-vmware commented on #105
@Anvesh42
What is the frequency of cassandra pod going down now with the increased resource limits..?
cc: @ashrimalivmware

[2022-05-23 09:34] carlaabanes opened #111 "What kind of credential is needed for infrastructure faults?"
What kind of credential and permission is required by mangle to run injections on remote endpoints to execute infrastructure faults? Im testing in our environment and using a credential with local admin rights but still facing permission denied issues.

./infra_submit --operation inject --faultname cpuFault --load 85 --timeout 3 --faultId cpuFault
errorCode 126 output: bash: ./infra_submit: Permis

[2022-05-23 09:46] ashrimalivmware commented on #111
Hi @carlaabanes , mangle needs to a user which has sufficient permissions like a root or admin so the user can execute such commands. A low privileged user might not have such permissions which can effect the system.
Thanks,
-Avinash

[2022-05-24 03:37] carlaabanes commented on #111
thanks! need to change our mangle account and do another test.

[2022-05-24 09:26] carlaabanes commented on #111
we already updated our credential that mangle is using to root.
when we try to execute manually the mangle commands, the error is the same even after doing it with sudo. Even tried to change the default directory of /tmp to another directory but still facing the same issue.

all our fault testing is failed and we are facing blank wall.

anyone had the same issue?

[2022-05-24 10:45] ashrimalivmware commented on #111
Hi @carlaabanes ,

To assist you further I need a few more details about the failure.

1. Can you please share screenshot of the failure,
2. mangle logs,
3. what command you executed manually which failed &
4. which mangle version you are using?

Thanks,
-Avinash

[2022-06-01 02:01] carlaabanes commented on #111
[ashrimalivmware](https://github.com/ashrimalivmware)

Hello, please see my screenshot below.
![image](https://user-images.githubusercontent.com/20785658/171313043-a72031d9-485c-4a3a-9b3f-7deef1621eaa.png)

[2022-06-01 02:04] carlaabanes commented on #111
Mangle version is 3.5.0

[2022-06-01 04:52] ashrimalivmware commented on #111
Thanks @carlaabanes ,
Only CPU fault injection is failing? Did you try any other fault injections?
What Linux distribution and version your endpoint has?

[2022-06-01 05:02] ashrimalivmware commented on #111
Hi @rpraveen-vmware Can you please help with this issue?

[2022-06-01 05:15] rpraveen-vmware commented on #111
Hi @carlaabanes,
This looks like the issue with the exec permission on the /tmp directory.
Can you try remounting the /tmp directory by giving the volume permission to execute.
command to try:
  sudo mount /tmp -o remount,exec

After that you should be able to inject Infra faults.
Let us know.
cc: @ashrimalivmware

[2022-06-01 05:50] carlaabanes commented on #111
Thank you for your reply, however, our application team informed me that /tmp already have 777 permission.

[2022-06-01 05:58] carlaabanes commented on #111
HI Avinash,

We do not have internet access from our VMs. I also added here the mangle application log file, hope its useful.
[mangle-logfile.txt](https://github.com/vmware/mangle/files/8811442/mangle-logfile.txt)
Thank you so much.

[2022-06-01 06:07] rpraveen-vmware commented on #111
Hi @carlaabanes
Checked that this log file doesn't contain the Infrastructure fault logs.
can you please attach them.

[2022-06-01 06:43] carlaabanes commented on #111
[mangle-logfile-2.txt](https://github.com/vmware/mangle/files/8811675/mangle-logfile-2.txt)
Hello, thank you for your reply. Attached here is the infra logs. Please help me fix the issue.

[2022-06-13 13:56] rpraveen-vmware commented on #111
Hi @carlaabanes
Let me know the update on the above comment..

[2022-07-18 10:38] xanderLum opened #116 "ErrorCode 127 Fault Injection w/ OSError: [ErrNo 22] Invalid Argument in target infra_agent.log"
Hi Mangle Team,

I'm currently testing VMWare mangle in my environment without internet connectivity and I've been encountering **error code 127 output: ./infra_submit: error while loading shared libraries: libz.so.1: failed to map segment from shared object** when injecting CPU fault to target server from Mangle portal.

I have attached 2 log files here:
1. mangle-services-app.logfile (20220718.t

[2022-07-18 11:03] ashrimalivmware commented on #116
Hi @xanderLum, Looking into the issue, will update you.

[2022-07-19 05:12] georgephilif commented on #116
Hi @xanderLum,
In order to startup mangle agent, and inject faults on a target machine, the '/tmp' directory on the target machine should be mounted with exec permissions.
You can either,
1. Remount '/tmp' with exec permissions
`sudo mount /tmp -o remount,exec`
or
2. Set TMP to a different directory where you have exec permissions
`export TMP=<your-dir>`

[2022-07-19 07:26] xanderLum commented on #116
Hi @georgephilif , may I know for option 2:
Set TMP to a different directory where you have exec permissions
export TMP=<your-dir>

understand this is executed in the target endpoint, may I know if this TMP will need to be run 1 time on every target endpoint to setup to my home directory where I have exec permissions?

Thank you

[2022-07-20 07:18] Swapnil-Khilariwal opened #117 "Unable to add Prometheus configurations as metrics provider"
**Describe the bug**
I am unable to add Prometheus configurations as a metrics provider. The UI is not giving me any option to edit or delete the same, is there any documentation on how to integrate prometheus with Mangle ? If so please share.

**To Reproduce**
Deployed Mangle over EKS.
Steps to reproduce the behavior:
1. Go to 'Settings -> Integrations -> Metrics Providers -> Prometheus (Predefin

[2022-07-20 08:33] #116 closed

[2022-07-20 15:07] georgephilif commented on #116
Hi @xanderLum,
Currently yes, the Mangle agent requires a TMP directory with 'exec' permissions on the target to inject faults.
We'll also try to work on removing this prerequisite, as part of future releases.

[2022-07-20 19:29] Anvesh42 opened #118 "Mangle Support for Amazon EKS"
Mangle team, (@rpraveen-vmware  @ashrimalivmware)

I communicated to you team earlier on [https://github.com/vmware/mangle/issues/82](url) & [https://github.com/vmware/mangle/issues/105](url) which were related to chaos setup on OpenShift cluster.

This time we are experiencing different issue. We are trying to have chaos functionality implemented in the **AWS EKS** environment for the GF applicat

[2022-07-21 16:56] rpraveen-vmware commented on #118
Hi @Anvesh42
Thanks for reaching out to us.
As we see that, to access the EKS Kubernetes cluster,
the pre-requisite utilities are:
**kubectl, aws-iam-authenticator, awscli and priam.**

-> Currently in our Mangle container, we have only the kubectl installed from the above list.
Hence, we will not be able to access the resources of another EKS cluster from the present cluster.

-> We suggest you t

[2022-07-22 06:20] dbhat-arkin commented on #117
Hello @Swapnil-Khilariwal ,
Thanks for reporting. Will check and get back you.

[2022-07-22 12:57] Anvesh42 commented on #118
@rpraveen-vmware  Thanks for your response.

To your 2nd pointer, whether the endpoint is local or remote, the kubeconfig file field is imperative and must be defined.

<img width="359" alt="Local_endpoint" src="https://user-images.githubusercontent.com/4793338/180443390-75c0e881-5bd0-4e63-94e5-ab6691b79e38.PNG">

In this case, the kube-system namespace is running within the same EKS cluster where

[2022-07-22 13:21] rpraveen-vmware commented on #118
@Anvesh42
To answer the 2nd pointer:
-> Go to "Add k8s Credential" and just give the "Name" of the k8s credential. Don't upload any kubeconfig file.
In this case, use this k8sCredentialName while creating k8s Endpoint.
Mangle considers it as local cluster when you don't provide kubeconfig file.

-> We discussed to have this as part of the next release of Mangle. Will update you on the timelines.
c

[2022-07-25 07:51] Swapnil-Khilariwal commented on #117
@dbhat-arkin
Any update on the issue ? Please confirm if prometheus is supported or not. Appreciate help!!

[2022-07-25 10:08] dbhat-arkin commented on #117
@Swapnil-Khilariwal
We are debugging the issue. Will update soon we have an update.

[2022-07-29 13:30] Anvesh42 commented on #118
@rpraveen-vmware  Thanks Praveen. That worked for us.

A quick question please - "Does cassandra DB configuration within the mangle product offer integration with AWS S3 or EBS? The default configuration is the NFS. Please see the image below.

We wanted to see if cassandra storage can be moved to S3 or EBS instead of a filesystem.

![image](https://user-images.githubusercontent.com/4793338/181770

[2022-08-01 04:55] ashrimalivmware commented on #118
Hi @Anvesh42,
1: Mangle doesn't offer any support with AWS S3 or EBS for Mangle DB (cassandra). Not sure if its possible to achieve using AWS capabilities.
 2: Mangle DB only supports cassandra DB.

Thanks,
-Avinash

[2022-08-11 02:25] Anvesh42 commented on #118
@rpraveen-vmware @ashrimalivmware Due to current limitation concerning mangle-EKS integration, we are in the process of chaos testing design change. We have a question concerning the new design,

Does mangle support integration with cassandra given the scenario where mangle runs on one Kubernetes cluster while cassandra on another assuming firewall remains open between the two clusters?

### Our c

[2022-08-18 03:16] rpraveen-vmware commented on #118
Hi @Anvesh42
This approach, to have DB in one cluster and the service in another cluster is something new that we have heard off.
We haven't tried out this deployment approach for our k8s.

-> Seeing that you had successful connection from Mangle to cassandra, need to check if it is really supported to provide the mount volume value of the DB in other cluster.

What's the reason behind this approa

[2022-09-08 22:47] Anvesh42 commented on #118
@rpraveen-vmware @ashrimalivmware

Do you think your team will be able to provide us the timelines at this point on EKS support for mangle product?

FYI, below are the 2 last comments from your team in this regard,

-> Currently in our Mangle container, we have only the kubectl installed from the above list.
Hence, we will not be able to access the resources of another EKS cluster from the present

[2022-09-26 16:53] k7ntrj opened #119 "Service Unavailable - Random injection does not work"
**Describe the bug**
Service Unavailable fault in Infrastructure Faults for K8S - random injection 'true' does not do randomly, instead it works similar to random injection 'false'. For example, if there 2 PODs running and Service Unavailable with Random Injection 'true', injects faults on both running PODs.

**To Reproduce**
Steps to reproduce the behavior:
1. Infrastructure - K8S - Service Unava

[2022-10-03 10:56] xanderLum opened #120 "ERR_CONNECTION_CLOSED accessing Mangle Web"
Hi Mangle Team,

Need assistance as Mangle WebUI is not accessible via browser and always says the error connection closed.
![err_connection_closed](https://user-images.githubusercontent.com/41901958/193560385-50e603b3-f676-4dcd-bcb1-25680c9ea360.png)

Have verified the ports and firewall rules and tnc and curl/telnet are working.

docker containers are running and up:
![docker ps -a + curl-telnet

[2022-10-04 03:47] xanderLum commented on #120
hi @ashrimalivmware, I hope your team can assist on this.  Thank you in advance

[2022-10-04 04:29] ashrimalivmware commented on #120
@ranjansvmware can you have a look?

[2022-10-04 07:31] ranjansvmware commented on #120
@xanderLum I assume that you are trying to deploy Mangle OVA. Please verify file "~/var/opt/mangle-tomcat/config/server.jks" is created. Also, Please provide mangle latest logs to debug it further.

[2022-10-05 00:15] fernandokarnagi commented on #120
@xanderLum did you try to stop the currently running Mangle and Cassandra containers and try to spin up new ones? To me, it might be network issue.

In the meantime, from within the SSH session where the Mangle containers are running, can you run this:
curl -v -X GET https://localhost:443/mangle-services/

See what you get.

[2022-11-22 21:40] Anvesh42 commented on #105
@ashrimalivmware @rpraveen-vmware Can you please share the docker files for mangle & Cassandra that were used to build these standard images?

In regards to Cassandra POD stability, I am looking at options to explore/enhance the possible solution for this.

Thanks
Anvesh